<link rel="stylesheet" href="/assets/footer.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<footer class="site-footer">
    <div class="container " style="padding-top: 2vh; margin-top: 5vh;">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <p class="text-justify">
            Lorem Ipsum is simply dummy text
            of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen
            book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged.
          </p>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 footer-col">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a class="footera" href="#">About Us</a></li>
            <li><a  class="footera" href="#">Contact Us</a></li>
            <li><a class="footera" href="#">Events</a></li>
          </ul>
        </div>
        <div class=" footer-col col-xs-3 col-sm-3 col-md-3">
          <h6>Contact Us</h6>
          <ul class="footer-links">
            <li><a class="footera" href="mailto: ">Send Us a Mail!</a></li>
          </ul>
        </div>
      </div>
      <hr />
    </div>
    <div class="container" style="margin-top: 5vh;">
      <div class="row pb-1">
        <div class="col">
          <ul class="social-icons">
            <li>
              <a target="_blank" class="facebook" href="#"><i
                  class="fa fa-facebook"></i></a>
            </li>
            <li><a target="_blank" class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li>
              <a target="_blank" class="dribbble" href="#"><i
                  class="fa fa-instagram"></i></a>
            </li>
            <li><a target="_blank" class="pinterest" href="#"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
 