
<h2>Pending Requests</h2>
<ul>
    <% pending.forEach(function(req){ %>
        <li> <%=req.name%> 
            <a href="/acceptreq/<%=req._id%>">Accept</a>
            <a href="/rejectreq/<%=req._id%>">Reject</a>
        </li>
   <% }) %>
    </ul>

    <h2>Friends</h2>
<ul>
    <% friends.forEach(function(req){ %>
        <li> <%=req.name%> 
        </li>
   <% }) %>
    </ul>

